[Unit]
Description=Monitor Theme Script
PartOf=graphical-session.target

[Service]
ExecStart=/home/micahpowch/.local/bin/monitortheme
Restart=always
RestartSec=5

[Install]
WantedBy=graphical-session.target