[Unit]
Description="Restart Monitor Theme because it randomly stops working and I dont know why"

[Service]
ExecStart=/usr/bin/systemctl --user restart monitortheme --force